input,
button {
  outline: none;
}
body {
  transition: 0.3s;
}
html.dark body {
  background-color: #191919;
  color: #f0f0f0;
}
html.light body {
  background-color: #ffffff;
  color: #002e3b;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #002e3b #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #002e3b;
  border-radius: 16px;
  border: 3px solid #ffffff;
}
